docs/doxygen/html
docs/doxygen/latex
xcuserdata/
build/
x64/
.vs/
*.DS_Store
*idea/
cmake-build-debug/
cmake-build-release/
*.db
dependencies/Win64/lib/saf_mkl_custom.lib
dependencies/Win64/lib/libiomp5md.lib
*.c~
*.m~
*.h~
*.cpp~
*.hpp~
*.zip
*.mexmaci64
*.mexa64
*.mexw64
saf_doxygen.tag