name: CMake Build

on:
  push:
    branches: [ master, develop ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    # runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Fetch SAF dependencies
      if: ${{ contains( runner.os, 'Linux' ) }}
      run: |
        sudo apt-get update && sudo apt-get install libhdf5-dev libnetcdf-dev libnetcdff-dev liblapack3 liblapack-dev libopenblas-dev liblapacke-dev
    - name: Fetch OpenBLAS (Windows)
      if: ${{ contains( runner.os, 'Windows' ) }}
      run: |
        curl https://github.com/OpenMathLib/OpenBLAS/releases/download/v0.3.26/OpenBLAS-0.3.26-x64.zip -L -o tmp.zip
        7z x ./tmp.zip -oOpenBLAS
        cp ./OpenBLAS/lib/libopenblas.lib $GITHUB_WORKSPACE
        cp ./OpenBLAS/bin/libopenblas.dll $GITHUB_WORKSPACE
        echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH
    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake (Linux)
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      if: ${{ contains( runner.os, 'Linux' ) }}
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DSAF_PERFORMANCE_LIB=SAF_USE_OPEN_BLAS_AND_LAPACKE -DSAF_ENABLE_TRACKER_MODULE=1 -DSAF_ENABLE_SOFA_READER_MODULE=1 -DSAF_ENABLE_HADES_MODULE=1

    - name: Configure CMake (macOS)
      shell: bash
      working-directory: ${{runner.workspace}}/build
      if: ${{ contains( runner.os, 'macOS' ) }}
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DSAF_PERFORMANCE_LIB=SAF_USE_APPLE_ACCELERATE -DSAF_ENABLE_TRACKER_MODULE=1 -DSAF_ENABLE_SOFA_READER_MODULE=1 -DSAF_ENABLE_HADES_MODULE=1
    
    - name: Configure CMake (Windows)
      shell: bash
      working-directory: ${{runner.workspace}}/build
      if: ${{ contains( runner.os, 'Windows' ) }}
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DSAF_PERFORMANCE_LIB=SAF_USE_OPEN_BLAS_AND_LAPACKE -DOPENBLAS_LIBRARY=$GITHUB_WORKSPACE/OpenBLAS/lib/libopenblas.lib -DLAPACKE_LIBRARY=$GITHUB_WORKSPACE/OpenBLAS/lib/libopenblas.lib -DOPENBLAS_HEADER_PATH=$GITHUB_WORKSPACE/OpenBLAS/include/ -DSAF_ENABLE_TRACKER_MODULE=1 -DSAF_ENABLE_SOFA_READER_MODULE=1 -DSAF_ENABLE_HADES_MODULE=1

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test (Unix)
      if: ${{ contains( runner.os, 'Linux' ) || contains( runner.os, 'macOS' )}}
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute tests
      run: ./test/saf_test
      
    - name: Test (Windows)
      if: ${{ contains( runner.os, 'Windows' ) }}
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: |
        cp $GITHUB_WORKSPACE/libopenblas.dll ./test/$BUILD_TYPE/
        ls -lh ./test/$BUILD_TYPE/
        ./test/$BUILD_TYPE/saf_test.exe
